* {
	box-sizing: border-box;
}

.menuitem1 {
    color: black;
	background-color: green;
}

.menuitem2 {
	color: white;
	background-color: gray;
}

.menuitem3 {
	color: green;
	background-color: #DDDDDD;
}

.mymenu {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	float: left;
	margin: 1%;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Comic Sans MS", serif;
}

@media (min-width: 992px) {
	.mymenu {
		width: 31.3333%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.mymenu {
		width: 48%;
	}
	.menuitem3 {
		width: 98%;
	}
}

@media (max-width: 767px) {
	.mymenu {
		width: 98%;
	}
}

.menucontent {
	clear: right;
	margin: 20px;
	text-align: justify;
    text-justify: inter-word;
}

.mygrid {
	width: 100%;
	height: 100%;
	padding: 0%;
	/*background-color: #f1f1f1;*/
}

.menutitle {
	border-style: none none inset inset;
	border-color: black;
	border-width: 1px;
	position: relative;
	text-align: center;
	width: 30%;
	float: right;
	top: 0px;
}

.menutitle1 {
	color: black;
	background-color: #DDDDDD;
}

.menutitle2 {
	color: black;
	background-color: #FFFFFF;
}

.menutitle3 {
	color: black;
	background-color: yellow;
}

.mytitle {
	text-align: center;
	font-family: "Comic Sans MS", serif;
}